h1.svelte-16kbmzi{font-size:40px;color:#fff}h2.svelte-16kbmzi{color:#f0f8ff;font-size:15px}h3.svelte-16kbmzi{color:#ffae00}h4.svelte-16kbmzi{color:#fff}h5.svelte-16kbmzi{color:#ffb700;font-size:20px}
